﻿@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">@ViewBag.displayName (@ViewBag.userPrincipalName)</p>

</div>*@

<div class="row">
    <div class="col-md-12">

        <table class="table table-striped">
            <thead>
                <h2>Profile for @ViewBag.displayName</h2>
            </thead>
            <tbody>
                <tr><td>Display Name</td><td>@ViewBag.displayName</td></tr>
                <tr><td>UPN</td><td>@ViewBag.userPrincipalName</td></tr>
                <tr><td>Given Name</td><td>@ViewBag.givenName</td></tr>
                <tr><td>Surname</td><td>@ViewBag.surname</td></tr>
                <tr><td>Email</td><td>@ViewBag.email</td></tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <h2>AD Groups for @ViewBag.displayName</h2>
            </thead>
            <tbody>
                @{
                    foreach (var role in ViewBag.roles)
                    {
                        <tr><td>@role</td></tr>
                    }
                }
            </tbody>
        </table>

    </div>


    
</div>